<mdb-container>
  <smt-mdb-titulo mostrarIcone=true icone="search" [textoTitulo]="'filmes.proximos.titulo' | i18n">
  </smt-mdb-titulo>
  <mdias-filtro (pesquisar)="evento.pesquisar()" (limpar)="evento.limparFiltro()">
    <mdias-titulo [valor]="'label.pesquisar' | i18n"></mdias-titulo>
    <form id="FORM_PROXIMOS" novalidate [formGroup]="evento.formularioPesquisa" (keyup.enter)="evento.pesquisar()">

      <mdb-col l=4>
        <mdb-autocomplete [controle]="evento.formularioPesquisa.get('genero')" [atributoDisplay]="'name'"
          [ehObrigatorio]=false [label]="traduzir('filmes.proximos.generos')" (lazy)="evento.consultarGeneros($event)"
          [lista]="evento.generos">
        </mdb-autocomplete>
      </mdb-col>

      <mdb-col l=4>
        <mat-form-field>
          <input smtUppercase matInput [placeholder]="traduzir('filmes.proximos.tituloFilme')" formControlName="title"
            autocomplete="off">
          <mat-error>{{error(evento.formularioPesquisa.get('title'))}}</mat-error>
        </mat-form-field>
      </mdb-col>

    </form>
  </mdias-filtro>

  <smt-container *ngIf="evento.resultadoPesquisa.totalElements">
    <mdias-titulo [valor]="traduzir('filmes.proximos.titulo')"></mdias-titulo>
    <mdb-tabela [hidden]="evento.resultadoPesquisa.totalElements > 0 ? false : true" id="TABELA_REUNIAO_PESQUISA"
      [totalDeItens]="evento.resultadoPesquisa.totalElements" [ehPaginado]="true"
      [itensPorPagina]="evento.resultadoPesquisa.size" [ehLazy]="true" (onLazy)="evento.pesquisar($event)"
      [lista]="evento.resultadoPesquisa.content">

      <mdb-coluna tamanho="3" [tooltip]="true" [valorCabecalho]="traduzir('filmes.proximos.tituloFilme')"
        [atributo]="'title'" [ordenavel]="true">
      </mdb-coluna>

      <mdb-coluna tamanho="6" [tooltip]="true" [valorCabecalho]="traduzir('filmes.proximos.overview')"
        [atributo]="'overview'" [ordenavel]="true">
      </mdb-coluna>


      <mdb-coluna tamanho="6" [tooltip]="true" [valorCabecalho]="traduzir('filmes.proximos.generes')"
        [atributo]="'generes'" [ordenavel]="true">
        <ng-template let-item="item" let-indice="indice">
          <ul>
            <li *ngFor="let g of item.generes; let i = index">
              {{g.name}}
            </li>
          </ul>
        </ng-template>
      </mdb-coluna>



      <mdb-coluna tamanho="3" [tooltip]="true" [valorCabecalho]="traduzir('filmes.proximos.release_date')"
        [atributo]="'release_date'">
        <ng-template let-item="item" let-indice="indice">
          {{ item?.release_date | date:'dd/MM/yyyy'}}
        </ng-template>
      </mdb-coluna>

      <mdb-coluna valorCabecalho="{{'label.acoes' | i18n}}" atributo="acoes">
        <ng-template let-item="item" let-indice="indice">
          <button mat-icon-button [matMenuTriggerFor]="menu" id="BTN_MENU_{{indice}}">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="evento.irParaEdicao(item.id)" id="BTN_MENU_EDITAR{{indice}}">
              <mat-icon>create</mat-icon>
              <span>{{'label.editar' | i18n}}</span>
            </button>

            <button mat-menu-item (click)="evento.deletarRegistro(item.id, true)" id="BTN_MENU_DELETAR{{indice}}">
              <mat-icon>delete</mat-icon>
              <span>{{'label.deletar' | i18n}}</span>
            </button>

            <button mat-menu-item (click)="evento.irParaRanking(item.id)" id="BTN_MENU_RANKING{{indice}}">
              <mat-icon>poll</mat-icon>
              <span>{{'eleicao-cipa.label.verRanking' | i18n}}</span>
            </button>
          </mat-menu>
        </ng-template>
      </mdb-coluna>
    </mdb-tabela>
  </smt-container>


</mdb-container>